<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/SilentBell.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64_32</string>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>app.silentbell.watch</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Anna Lipinski (CWEY98CK55)</string>
		<key>Team</key>
		<string>7S8YWB34KS</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-07-28T19:25:36Z</date>
	<key>Name</key>
	<string>SilentBell</string>
	<key>SchemeName</key>
	<string>SilentBell</string>
</dict>
</plist>
